# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

/src/main/groovy/de/geobe/siteutil/config/liveConfig.groovy
/src/main/groovy/de/geobe/siteutil/config/liveConfig
/src/main/groovy/de/geobe/siteutil/config/testConfig
/src/main/resources/de/geobe/siteutil/config/liveConfig.cfg
/src/test/resources/de.geobe.siteutil.config/liveConfig.cfg
